.main {
    background-color: #333;
    .card{
        width: calc(100% / 5 - 30px);
        img{
            max-width: 100%;
        }
        .card-body{
            h6{
                color: rgb(18, 202, 18);
                word-wrap: break-word;
                span{
                color: rgb(30, 200, 251);
                }
            }
            p{
                font-size: .8rem;
                span{
                    color: rgb(245, 36, 36);
                }
            }
        }
    }
}